.container{
    display: block;
}

.row {
    display: block;
    width: 100%;
}
.row>* {
    display: inline-block;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

@media only screen and (max-width: 600px) {
    .row>* {
        display: flex;
    }
}

.edge-level {
    width: 80%;
}

.body{
    display: flex
}

.left{
    flex: 1;
    flex-basis: 200px;
}
.left-label{
    margin-bottom: 0.4rem;
}
.right{
    flex: 3;
    height: 2rem; 
    box-sizing: border-box
}
.right-label{
    margin-bottom: 0.4rem;
}

@media only screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }
    .right{
        flex: 1;
        height: 0;
    }
}

.status-btns>button{
    padding:0.5rem 1rem;
    margin-right: 0.3rem;
}


.running-btns>button{
    padding:0.5rem 1rem;
    margin-right: 0.3rem;
}

.stroke-position{
    display: flex;
    width: 100%;
}

.stroke-position>label{
    display: block;
    flex: 0;
    padding: 8px;
}
.stroke-position>div{
    flex: 1;
    padding: 12px;
}