.main {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.header {
  text-align: center;
}
.header>label {
  font-size: 2rem;
}

.body{
  display: flex;
}

.left{
  flex-basis: 10rem;
  margin-right: 0.5rem;
}
.right{
  flex: 1;
}